<div class="bg-grey-light px-[34px] py-[19px] w-full">
    <div class="flex flex-wrap space-y-4 sm:justify-between sm:items-center sm:space-y-0">
        <span class="text-index w-full sm:w-[50px]">{{ loop.index }}</span>
        <div class="w-1/2 sm:w-fit">
            {% if accessory.name %}
                <h3 class="text-h3 mb-[5px]">{{ accessory.name }}</h3>
            {% endif %}
            {% if accessory.sold %}
                <span class="text-green">{{ accessory.sold }} sold</span>
            {% endif %}
        </div>
        <div class="w-1/2 flex justify-end items-center sm:w-fit">
            <div>
                {% if accessory.price.regular %}
                    <span class="text-grey-dark font-bold mr-1 leading-[18px] line-through">£{{ accessory.price.regular }}</span>
                {% endif %}
                {% if accessory.price.sale %}
                    <span class="font-bold text-[24px] leading-[28px]">£{{ accessory.price.sale }}</span>
                {% endif %}
            </div>
        </div>
        <div class="w-full sm:w-fit">
            <a href="https://www.swytchbike.com/accessories/" target="_blank" class="flex items-center p-2 border rounded-[3.8389px] w-fit">
                <div class="h-5 w-5 rounded-full border-2 flex justify-center items-center mr-2">
                    {% include "./icons/info.twig" %}
                </div>
                <span>More info</span>
            </a>
        </div>
    </div>
</div>